@media (max-width: 768px) {
  header {
    border: 0px;
  }
  header ul {
    position: absolute;
    top: -900px;
    left: -900px;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    height: calc(100vh - 90px);
    padding: 20px 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  .activeHamburguesa {
    top: 90px;
    left: 0px;
  }
  header ul a:last-child {
    margin: 0;
  }
  header > div {
    display: block;
    margin-right: 20px;
  }
  .active {
    display: block;
    top: 90px;
    left: 0px;
  }
}
